SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = 'e0e5b6989cf28bd24682d025d9946d21'
API_SECRET = 'cgh0KpSOnTqO1nYlyANtoG529JxNDAGk'
